// Note: .d-flex is location in ./_flex.scss

.d-none {
    display: none;
}

@media (min-width: 768px) {
    .md\:d-flex {
        display: flex;
    }

    .md\:d-none {
        display: none;
    }
}